
:root {
	--color-offwhite: #f4f4f4;

	--color-main-light: #51e7fd;
    --color-main-medium: #0da2d5;
    --color-main-dark: #0d66ba;
    --color-main-yellow: #f7d035;
    --color-main-orange: #f79305;
}

/*header{	
height: 5em;

}*/

body{
 	background-color: var(--color-store-dark);
	padding-bottom: 4em;
}



h2 {
	color:var(--color-main-light);
}
h3 {
	color:var(--color-main-light);
}


.card_main_light{
	background-color: var(--color-main-light);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	overflow: hidden;
	position: relative;
}

.card_main_medium{
	background-color: var(--color-main-medium);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	overflow: hidden;
	position: relative;
}

.card_main_dark{
	background-color: var(--color-main-dark);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	overflow: hidden;
	position: relative;
}

.card_main_yellow{
	background-color: var(--color-main-yellow);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	overflow: hidden;
	position: relative;
}

.card_main_orange{
	background-color: var(--color-main-orange);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	overflow: hidden;
	position: relative;
}

.form-button-store{
	font-family: var(--font-sans);
	font-weight: 600;
	font-size: 1em;
	letter-spacing: .05em;
	background-color: var(--color-neutral-white);
	color: var(--color-neutral-black);
	display: inline-block;
	padding: 0.5em 1em;
	border-width: 1px;
	border-color: black;
	border-radius: 0.2em;
	cursor: pointer;
	text-align: center;
	width: 100%;
	outline: 0;
	-webkit-appearance: none;

}

.form-button-store:hover {
	text-decoration: none;

}

.form-button-store:active {
	background-color: var(--color-main-orange);
	color: var(--color-neutral-white);
	border-color: white;
}

.hotdog {
	background-color: var(--color-main-light);
	border-radius: 2em;
	padding: 0.5em 1.5em;
	display: flex;
}

.hotdog.dark {
	background-color: var(--color-main-dark);
	color: var(--color-main-light);

}

.hotdog.light {
	background-color: var(--color-neutral-white);
	color: var(--color-neutral-black);
}

.favorite label{
	transition: 0.3s;
	display: inline-block;
	transform: scale(1,1);
	color: var(--color-neutral-medium);

}

.favorite input:checked + label{
color: red;
transform: scale(1.3,1.3);

}

.figure.product {
	border-radius: 0.5em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	overflow: hidden;
	height: 100%;
	transition: all 0.3s;
}

.product.figure img {
	height: 100%;
	object-fit: contain;
}

.productlist a {
	text-decoration: none;
	font-weight: initial;
}

.product.figure:hover {
	box-shadow: 0 2px 10px rgba(0,0,0,0.35);
}

.product_name {
	font-weight: 600;
}

.product-overlay  {
	position: relative;
	overflow: hidden;
	}

.product-overlay figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;

}

.product-overlay:hover figcaption {
	opacity: 1;
}

.product-overlay .caption-body {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em;
	transform:translateY(2em);
	transition: all 0.3s;

}

.product-overlay:hover .caption-body {
	transform:translateY(0); 
}

.product-overlay img {
	transform:scale(1,1);
	transition: all 0.3s;

}

.product-overlay:hover img {
	transform:scale(1.4, 1.4); 
}

@media (max-width: 600px) {
	.product-overlay figcaption {
		position: relative;
		display: block;
		top: initial;
		left: initial;
		width: 100%;
		height: initial;
		background-color: initial;
	}
}

	.product-overlay .caption-body{
		transform-style: none;
		padding: 0;
	}
.checkout-form {
	max-width: 50%;
}






@media (max-width: 800px){

	.container {
		padding-left: 1em;
		padding-right: 1em;
	}

	.navbar h1 {
		padding-left: 0.5em;
	}
}



.menu-button label { display:none; }

@media (max-width: 400px) {
	.navbar .display-flex {
		flex-wrap: wrap;
	}
	.navbar .nav {
		width: 100%;
		display: none;
	}
	.navbar .nav-flex ul {
		display: block;
	}

	.navbar .nav li {
		line-height: 2em;
	}
	.menu-button{
		display:block;
		padding: 0 1em;
	}
	.menu-button label { display:block; }
	#menu:checked+.navbar .nav {
		display: block;
	}

}



.images-main img {
	width: 100%;
	height: 50vh;
	object-fit: contain;

}

.images-thumbs img {
	width: 6em;
	height: 6em;
	object-fit: contain;

}



span.badge:not(:empty)::after{
	content: ')';
}

span.badge:not(:empty)::before{
	content: '(';
}

.view-window {
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}



