
:root{
	--color-offwhite:#f4f4f4;

	--color-main-light:#DAADD2;
    --color-main-medium:#DAADD2;
    --color-main-dark:#99448D;

}

body{
	background-color:var(--color-offwhite) ;
}


.figure.product {
	border-radius: 0.5em;
	box-shadow: 0 2px 5px rgba(0,0,0,0,1);

}

.product-overlay {
	position:relative;
}

.product-overlay figcaption {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	opacity:0;
	transition: all 0.3s;
	display:flex;
	align-items:center;
	justify-content:center;
}

.product-overlay:hover figcaption {
	opacity:1;
}

.product-overlay .caption-body {
	background-color:white;
	border-radius:0.5em;
	padding:1em;
	transform:translateY(2em);
	transition:all 0.3s;
}


.product-overlay:hover  .caption-body {
	transform:translateY(0);
}


@media (max-width:600px) {
	.product-overlay figcaption {
		position:relative;
		display:block;
		top:initial;
		left:initial;
		width:100%;
		height:initial;
		opacity:1;
		background-color:initial;
	}


	.product-overlay .caption-body {
		transform:none;
		padding:0;
	}
}