/* CSS RESET */

*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	--color-main-light: #BAC9C9;
    --color-main-medium: #769293;
    --color-main-dark: #283535;

    --color-secondary-light: #f0f0f4;
    --color-secondary-medium: #81819c;
    --color-secondary-dark: #3f3f50;

    --color-neutral-light: #E0DAD0;
	--color-neutral-medium: #7B603D;
	--color-neutral-dark: #604B2F;

	--color-accent-light: #CD847A;
	--color-accent-dark: #a55550;

	--color-black: #14080E;
	--color-grey-medium: #838586;
	--color-grey-light: #d9d9d9;
	--color-white: #fff;

	--header-height:3rem;
	--spacing:1rem;

	--font-serif: monarcha, serif;
	--font-sans: bree, sans-serif;
}

.colorchip{
	height: 5em;
	width: 15em;
}

body {
	margin:0;
	font-size: 100%;
	font-family: var(--font-sans);
	font-weight: normal;
	background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family: var(--font-serif);
}

a {
	color:inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

:root {
	--color-offwhite: #f4f4f4;

}

footer {
	border-top: 1px solid var(--color-black);
}


/* MEDIA QUERIES */

@media (max-width: 800px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1 {
		padding-left: 0.5em;
	}
	
}

.menu-button label {
	display: none;
	}

@media (max-width: 400px) {
	.navbar .display-flex {
		flex-wrap: wrap;
	}

	.navbar nav {
		width: 100%;
		display: none;
	}

	.navbar .nav-flex ul{
		display: block;
	}
	.navbar .nav li {
		line-height: 2em;
	}

	.menu-button label {
	display: block;
	padding: 0 1em;
	}

	#menu:checked+.navbar .nav {
		display: block;
	}
}

/* LAYOUT CLASSES */

.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.display-flex { display:flex;}
.display-inline-flex { display:inline-flex; }
.display-block { display:flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-end { justify-content: flex-end;}

.flex-column {flex-direction: column; }
.flex-wrap {flex-wrap:wrap; }

/* COMPONENT CLASSES */

.nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	background-color: var(--color-main-medium);
	color: var(--color-white);
}
	.nav a {
		display:block;
		padding:0.2em 0.5em;
	}
	.nav a:hover {
		background-color: var(--color-main-medium);
		color: var(--color-white);
		text-decoration: none;
	}

	.nav .active a {
		background-color: var(--color-main-dark);
		color: inherit;
		text-decoration: none;
	}

.nav-crumbs ul {
	background-color: var(--color-white);
	color: var(--color-black);
}

.nav-crumbs ul,
.nav-flex ul {
	display: flex;
}

.nav-crumbs a {
	display: inline-block;
}

.nav-crumbs .active a,
.nav-crumbs a:hover {
	background-color: transparent;
	color: inherit;
	text-decoration: underline;
}

.nav-crumbs li:not(:first-child)::before {
	content:'/';
}

.navbar {
	background-color: var(--color-main-medium);
	color: var(--color-white);
	line-height: var(--header-height);
}

	.navbar a {
		padding: 0 1.2em;
	}

	.nav h1 {
		align-items: center;
		margin: 0em;
		margin-block-start: 0em;
	}


/* CARD */
.card {
	background-color: var(--color-white);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;

	overflow: hidden;
	position: relative;
}
	.card.soft {
		box-shadow: 0 0 10px rgba(0,0, 0,0.1);
	}
	.card.hard {
		border: 1px solid var(--color-neutral-light);
	}
	.card.medium {
		background-color: var(--color-main-medium);
		color: var(--color-white);
		margin: 0em;
		padding: 2em;
	}
	.card.light {
		background-color:var(--color-neutral-light);
		color: var(--color-black);
		margin: 0em;
		padding: 2em;
	}
	.card.flat{
		padding: 0;
		margin: 0;
		border-top: 1px solid var(--color-black);
		border-bottom: 1px solid var(--color-black);
	}


[class*='col-']>.card {
	height: 100%;
	margin: 0;
}

.card-section{
	padding:1em;
}

.card-section~.card-section{
	border-top: 1px solid var(--color-neutral-light);
}


/* SMALL CLASSES */

.media-image {
	max-width: 100%;
	vertical-align: text-bottom;
}

.hidden {
	display: none;
}


/* TABLES */

.table {
	width: 100%;
	border-collapse: collapse;
}
.table th,
.table td {
	text-align: left;
	padding:0.2em 0.5em;
}

.table.striped tbody tr:nth-child(odd) {
	background-color:var(--color-grey-light);
}

.table.lined.vertical th:not(:first-child),
.table.lined.vertical td:not(:first-child) {
	border-left: 1px solid var(--color-main-light);
}

.table.lined.horizontal tbody tr {
	border-top: 1px solid var(--color-main-light);
}

/* FIGURES */

.view-window {
	height:50vh;
	position:relative;
	overflow: hidden;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
}


.figure {
	margin:0;
	background-color:var(--color-white)
}

.figure img {
	width: 100%;
	vertical-align: text-bottom;
	position: relative;
}

.figure figcaption {
	padding:1em;
}

.figcaption a:hover {
	text-decoration: none;
}

/* PRODUCT FIGURES */


.figure.product{
	border: 1px solid var(--color-grey-light);
	overflow: hidden;
	height: 100%;
}

.product.figure img {
	object-fit: contain;
}

.productlist a {
	text-decoration: none;
	font-weight: initial;
}

.product-overlay {
	position: relative;
}

.product-overlay figcaption{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding-right: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-overlay:hover figcaption {
	opacity: 1;
}

.product-overlay:hover .caption-body{
	transform:translateY(0);
}

@media (max-width: 600px) {
	.product-overlay figcaption {
		display: block;
		left: initial;
		width: 100%;
		height: initial;
		opacity: 1;
		background-color: initial;
	}

	.product-overlay .caption-body {
		position: absolute;
		transform: none;
		padding:0;
	}
}


.images-main img{
	width: 100%;
	height: 40vh;
	object-fit:contain;
}


.images-thumbs img{
	width: 8em;
	height: 6em;
	object-fit: contain;
}

.connect img{
	padding: .3em;
}

/* FORMS */

.form-control {
	margin: 1.5em 0;
}

.form-select>select,
.form-input,
.hotdog,
.hotdog input,
.form-item {
	display: inline-block;
	background-color: transparent;
	border-width: 0.1em;
	font: inherit;
	padding-left: .5em;
	--webkit-appearance: none;
	color: inherit;
	width: 100%;
	outline: 0;
}

.form-input:focus {
	border-bottom-color: var(--color-main-light);
}

.form-label {
	font-size: 0.8em;
	color: var(--color-black);
	padding-bottom:1em;
	display: block;
	width: 100%;
}

/* SMALL BUTTON */

.small-form-button {
	background-color: var(--color-white);
	border: .1em solid var(--color-grey-medium); 
	cursor:pointer;
	text-align: center;
	font: inherit;
	font-size: .8em;
	display: inline-block;
	margin: 0;
	margin-right: auto;
	padding: .2em 1em;
}

.small-form-button:hover {
	text-decoration: none;
	background-color: var(--color-main-light);
}

.small-form-button:active {
	text-decoration: none;
	background-color: var(--color-main-medium);
	color: var(--color-white);

}

/* SMALL ROUND BUTTON */

.small-form-button-round {
	background-color: var(--color-white);
	border-radius: 5em;
	border: .1em solid var(--color-grey-medium); 
	cursor:pointer;
	text-align: center;
	font: inherit;
	font-size: .8em;
	display: inline-block;
	margin: auto;
	padding: .2em 1em;
}

.small-form-button-round:hover {
	text-decoration: none;
	background-color: var(--color-main-light);
}

.small-form-button-round:active {
	text-decoration: none;
	background-color: var(--color-main-medium);
	color: var(--color-white); 
}


/* MEDIUM BUTTON */

.form-button {
	margin: .5em;
	background-color: var(--color-white);
	border-radius: 5em;
	border: .1em solid var(--color-grey-medium); 
	cursor:pointer;
	text-align: center;
	font: inherit;
	font-size: 1em;
	display: inline-block;
	padding: .2em 2em;
}

.form-button:hover {
	text-decoration: none;
	background-color: var(--color-main-light);
}

.form-button:active {
	text-decoration: none;
	background-color: var(--color-main-medium);
	color: var(--color-white);
}


/* LARGE BUTTON */

.large-form-button {
	background-color: var(--color-accent-light);
	border-radius: .2em;
	border: .1em solid var(--color-white); 
	cursor:pointer;
	text-align: center;
	font: inherit;
	display: inline-block;
	padding: .6em 6em;
}

.large-form-button:hover {
	text-decoration: none;
}

.large-form-button:active {
	text-decoration: none;
	background-color: var(--color-accent-dark);
	color: var(--color-white);
}


/* HOTDOG */

.hotdog {
	background-color: var(--color-neutral-light);
	border-radius: 2em;
	padding: 0.5em, 1.5em;
	display: flex;
}

.hotdog.dark {
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);
}

.hotdog.light {
	background-color: var(--color-white);
	color: var(--color-black);
}

.form-select>select {
	margin: .5em;
	padding: 0.1em 0.28em;
	background-color: var(--color-white);
	border-radius: 0.3em;
	border: .1em solid var(--color-black);
	cursor: pointer;
}

.form-select {
	position: relative;
}

.form-select::after {
	content: &#9660;
	font-family: arial, sans-serif;
	font-size: 1.2em;
	position: absolute;
	top: 50%;
	right: 0.2em;
	transform: translateY(-50%);
	pointer-events: none;
	color: var(--color-neutral-medium);
}


.cart img {
	color: white;
	margin-top: .8em;
  	width: 1.5em;
}


span.badge:not(:empty)::before {
	content: '(';
}

span.badge:not(:empty)::after {
	content: ')';
}

.badge {
	display: inline;
}

/* TYPOGRAPHY */

.logo {
	font-family: henriette, sans-serif;
	font-size: 1.5em;
	font-style: normal;
}

.logofooter {
	font-family: henriette, sans-serif;
	font-size: 1em;
	font-style: normal;
}

.productname {
  	font-family: var(--font-serif);
  	font-weight: bold;
  	font-size: 1.2em;
  	padding-top: 0.5em;
  	padding-bottom: 0.5em;
  	color: var(--color-main-dark);
}

.price {
	font-family: var(--font-serif);
}

.description {
	font-family: var(--font-sans);
	font-weight: lighter;
	font-size: 0.9em;
	padding-top: 0.2em;
}

.calltoaction {
	position: relative;
}

/* CHECK BOXES */


.favorite label {
	transition: all 0.3s;
	transform: scale(1,1);
	color: var(--color-grey-light);
}

.favorite input:checked + label {
	color: red;
	transform:scale(1.5, 1.5);

}























