

:root {
	--color-offwhite: #f4f4f4;
}

body {
	background-color: var(--color-offwhite);
}

.image-row {
  display: flex;
}

.juice1 {
  width: 25%
}

.juice2 {
  width: 50%
}

.juice3 {
  width: 25%
}

.text-center {
  text-align: center;
}

.copyright {
  text-align: center;
  font-size: 5px,
}